resources/ProfilerWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.cis.uni-muenchen.de/profiler/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.cis.uni-muenchen.de/profiler/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.cis.uni-muenchen.de/profiler/" xmlns="http://schemas.xmlsoap.org/wsdl/">

                        <xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="xsd0.xsd"/>

                        <xsd:complexType name="AttachmentType">
                                <xsd:sequence>
                                        <xsd:element minOccurs="0" name="fileName" type="xsd:string"/>
                                        <xsd:element minOccurs="0" name="binaryData" type="xmime:base64Binary" xmime:expectedContentTypes="text/xml"/>
                                </xsd:sequence>
                        </xsd:complexType>


			<xsd:complexType name="GetConfigurationsResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="configurations" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="GetConfigurationsResponse" type="tns:GetConfigurationsResponseType"/>

			<xsd:complexType name="GetSimpleConfigurationsResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="configurations" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="GetSimpleConfigurationsResponse" type="tns:GetSimpleConfigurationsResponseType"/>

			<xsd:complexType name="SimpleEnrichRequestType">
				<xsd:sequence>
					<xsd:element name="configuration" type="xsd:string"/>
					<xsd:element name="doc_in" type="tns:AttachmentType"/>
					<xsd:element name="doc_in_size" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="SimpleEnrichRequest" type="tns:SimpleEnrichRequestType"/>


			<xsd:complexType name="SimpleEnrichResponseType">
				<xsd:sequence>
					<xsd:element name="returncode" type="xsd:int"/>
					<xsd:element name="message" type="xsd:string"/>
					<xsd:element name="doc_out" type="tns:AttachmentType"/>
					<xsd:element name="doc_out_size" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="SimpleEnrichResponse" type="tns:SimpleEnrichResponseType"/>


			<xsd:complexType name="GetProfileRequestType">
				<xsd:sequence>
					<xsd:element name="userid" type="xsd:string"/>
					<xsd:element name="configuration" type="xsd:string"/>
					<xsd:element name="doc_in" type="tns:AttachmentType"/>
                                        <xsd:element name="doc_in_type" type="xsd:string"/>
					<xsd:element name="doc_in_size" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="GetProfileRequest" type="tns:GetProfileRequestType"/>


			<xsd:complexType name="GetProfileResponseType">
				<xsd:sequence>
					<xsd:element name="returncode" type="xsd:int"/>
					<xsd:element name="quota_left" type="xsd:int"/>
					<xsd:element name="message" type="xsd:string"/>
					<xsd:element name="doc_out" type="tns:AttachmentType"/>
					<xsd:element name="doc_out_size" type="xsd:long"/>
					<xsd:element name="profile_out" type="tns:AttachmentType"/>
					<xsd:element name="profile_out_size" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="GetProfileResponse" type="tns:GetProfileResponseType"/>


			<xsd:complexType name="GetProfilingStatusRequestType">
				<xsd:sequence>
					<xsd:element name="userid" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="GetProfilingStatusRequest" type="tns:GetProfilingStatusRequestType"/>


			<xsd:complexType name="GetProfilingStatusResponseType">
				<xsd:sequence>
					<xsd:element name="returncode" type="xsd:int"/>
					<xsd:element name="message" type="xsd:string"/>
					<xsd:element name="status" type="xsd:string"/>
					<xsd:element name="additional" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="GetProfilingStatusResponse" type="tns:GetProfilingStatusResponseType"/>


			<xsd:complexType name="ValidateEmailRequestType">
				<xsd:sequence>
					<xsd:element name="email" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="ValidateEmailRequest" type="tns:ValidateEmailRequestType"/>


			<xsd:complexType name="ValidateEmailResponseType">
				<xsd:sequence>
					<xsd:element name="returncode" type="xsd:int"/>
					<xsd:element name="message" type="xsd:string"/>
					<xsd:element name="isvalid" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="ValidateEmailResponse" type="tns:ValidateEmailResponseType"/>



			<xsd:complexType name="StartSessionResponseType">
				<xsd:sequence>
					<xsd:element name="returncode" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="StartSessionResponse" type="tns:StartSessionResponseType"/>



			<xsd:complexType name="AbortProfilingRequestType">
				<xsd:sequence>
					<xsd:element name="userid" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="AbortProfilingRequest" type="tns:AbortProfilingRequestType"/>


			<xsd:complexType name="AbortProfilingResponseType">
				<xsd:sequence>
					<xsd:element name="returncode" type="xsd:int"/>
					<xsd:element name="message" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="AbortProfilingResponse" type="tns:AbortProfilingResponseType"/>
                </xsd:schema>
  </types>
  <message name="AbortProfilingRequest">
    <part name="part1" element="tns:AbortProfilingRequest">
    </part>
  </message>
  <message name="GetProfilingStatusRequest">
    <part name="part1" element="tns:GetProfilingStatusRequest">
    </part>
  </message>
  <message name="SimpleEnrichResponse">
    <part name="part1" element="tns:SimpleEnrichResponse">
    </part>
  </message>
  <message name="SimpleEnrichRequest">
    <part name="part1" element="tns:SimpleEnrichRequest">
    </part>
  </message>
  <message name="GetProfilingStatusResponse">
    <part name="part1" element="tns:GetProfilingStatusResponse">
    </part>
  </message>
  <message name="ValidateEmailRequest">
    <part name="part1" element="tns:ValidateEmailRequest">
    </part>
  </message>
  <message name="ValidateEmailResponse">
    <part name="part1" element="tns:ValidateEmailResponse">
    </part>
  </message>
  <message name="StartSessionResponse">
    <part name="part1" element="tns:StartSessionResponse">
    </part>
  </message>
  <message name="GetSimpleConfigurationsResponse">
    <part name="part1" element="tns:GetSimpleConfigurationsResponse">
    </part>
  </message>
  <message name="GetProfileRequest">
    <part name="part1" element="tns:GetProfileRequest">
    </part>
  </message>
  <message name="GetConfigurationsResponse">
    <part name="part1" element="tns:GetConfigurationsResponse">
    </part>
  </message>
  <message name="GetSimpleConfigurationsRequest">
  </message>
  <message name="StartSessionRequest">
  </message>
  <message name="GetProfileResponse">
    <part name="part1" element="tns:GetProfileResponse">
    </part>
  </message>
  <message name="AbortProfilingResponse">
    <part name="part1" element="tns:AbortProfilingResponse">
    </part>
  </message>
  <message name="GetConfigurationsRequest">
  </message>
  <portType name="ProfilerWebServicePortType">
    <operation name="getConfigurations">
      <input message="tns:GetConfigurationsRequest" wsaw:Action="getConfigurations">
    </input>
      <output message="tns:GetConfigurationsResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/ProfilerWebServicePortType/GetConfigurationsResponse">
    </output>
    </operation>
    <operation name="getSimpleConfigurations">
      <input message="tns:GetSimpleConfigurationsRequest" wsaw:Action="getSimpleConfigurations">
    </input>
      <output message="tns:GetSimpleConfigurationsResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/ProfilerWebServicePortType/GetSimpleConfigurationsResponse">
    </output>
    </operation>
    <operation name="getProfile">
      <input message="tns:GetProfileRequest" wsaw:Action="getProfile">
    </input>
      <output message="tns:GetProfileResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/ProfilerWebServicePortType/GetProfileResponse">
    </output>
    </operation>
    <operation name="simpleEnrich">
      <input message="tns:SimpleEnrichRequest" wsaw:Action="simpleEnrich">
    </input>
      <output message="tns:SimpleEnrichResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/ProfilerWebServicePortType/SimpleEnrichResponse">
    </output>
    </operation>
    <operation name="getProfilingStatus">
      <input message="tns:GetProfilingStatusRequest" wsaw:Action="getProfilingStatus">
    </input>
      <output message="tns:GetProfilingStatusResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/ProfilerWebServicePortType/GetProfilingStatusResponse">
    </output>
    </operation>
    <operation name="validateEmail">
      <input message="tns:ValidateEmailRequest" wsaw:Action="validateEmail">
    </input>
      <output message="tns:ValidateEmailResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/ProfilerWebServicePortType/ValidateEmailResponse">
    </output>
    </operation>
    <operation name="abortProfiling">
      <input message="tns:AbortProfilingRequest" wsaw:Action="abortProfiling">
    </input>
      <output message="tns:AbortProfilingResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/ProfilerWebServicePortType/AbortProfilingResponse">
    </output>
    </operation>
    <operation name="startSession">
      <input message="tns:StartSessionRequest" wsaw:Action="startSession">
    </input>
      <output message="tns:StartSessionResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/ProfilerWebServicePortType/StartSessionResponse">
    </output>
    </operation>
  </portType>
  <binding name="ProfilerWebServiceSOAP11Binding" type="tns:ProfilerWebServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getConfigurations">
      <soap:operation soapAction="getConfigurations" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSimpleConfigurations">
      <soap:operation soapAction="getSimpleConfigurations" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProfile">
      <soap:operation soapAction="getProfile" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="simpleEnrich">
      <soap:operation soapAction="simpleEnrich" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProfilingStatus">
      <soap:operation soapAction="getProfilingStatus" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="validateEmail">
      <soap:operation soapAction="validateEmail" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="abortProfiling">
      <soap:operation soapAction="abortProfiling" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="startSession">
      <soap:operation soapAction="startSession" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="ProfilerWebServiceSOAP12Binding" type="tns:ProfilerWebServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getConfigurations">
      <soap12:operation soapAction="getConfigurations" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getSimpleConfigurations">
      <soap12:operation soapAction="getSimpleConfigurations" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getProfile">
      <soap12:operation soapAction="getProfile" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="simpleEnrich">
      <soap12:operation soapAction="simpleEnrich" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getProfilingStatus">
      <soap12:operation soapAction="getProfilingStatus" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="validateEmail">
      <soap12:operation soapAction="validateEmail" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="abortProfiling">
      <soap12:operation soapAction="abortProfiling" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="startSession">
      <soap12:operation soapAction="startSession" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProfilerWebService">
    <port name="ProfilerWebServiceSOAP11port_http" binding="tns:ProfilerWebServiceSOAP11Binding">
      <soap:address location="http://localhost:8080/axis2/services/ProfilerWebservice"/>
    </port>
    <port name="ProfilerWebServiceSOAP12port_http" binding="tns:ProfilerWebServiceSOAP12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/ProfilerWebService"/>
    </port>
  </service>
    <xsd:annotation>
		<xsd:documentation>CIS ProfilerWebService</xsd:documentation>
    	</xsd:annotation>
</definitions>
